* {
  margin: 0;
  border: 0;
  padding: 0;
}
@font-face {
  font-family: "Bree Serif";
  src: url("../fonts/Bree_Serif/BreeSerif-Regular.ttf") format("true-type");
}
html {
  font-family: "Bree Serif", serif;
  font-size: 100%;
}
body {
  background-color: #fff3af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.color-text-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #fca96a;
  border-radius: 20px;
}
.color-text {
  background-color: #420000;
  width: 80%;
  text-align: center;
  padding: 1.5rem;
  border-radius: 20px;
  color: white;
  font-size: 1.1rem;
}
.color-text-button div {
  margin: 3rem;
}
.color-button {
  background-color: #f73232;
  padding: 0.8rem 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 20px;
  transition: all 0.5s;
}
.color-button:hover {
  background-color: #b80000;
  transform: scale(1.01);
}